@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins';
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding';
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_normalize';
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_grid';
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-utilities';
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_type';


body {
    margin:0;
    padding:0;
    font-family:Helvetica, sans-serif;
}

ul {
    list-style: none;
    margin:0 0 20px 0;
    padding:0;
}

h1 {
    font-size:23px;
}

h3 {
    font-size:16px;
}

img {
    width:100%;
    max-width: 100%;
}

nav {
    background-color:#212121;
    padding:0 15px 0 0;

    a {
        display: inline-block;
        color:#fff;
        padding:15px;
        font-size:13px;
        line-height: 13px;
        font-weight:bold;
        border-right:1px solid #333;
        text-decoration: none;

        &.active {
            color:#ffbd00;

            &:hover {
                color:#ffbd00;
            }
        }

        &:hover {
            text-decoration: none;
            color: #ccc;
        }

        &:focus {
            text-decoration: none;
        }
    }

}

section {
    margin-top:40px;
}

article {
    margin-bottom:60px;

    &.featured-event {
        padding-top:60px;
    }
}

.sidebar {
    margin-top:40px;
}
